@media all and(max-width:1250px){
    .header{
        width: 1250px;
    }
}
@media all and (max-width:1200px){
    .navbar__contact{
        left: 700px;
    }
}
@media all and (max-width:1150px){
    .navbar__contact{
        left: 670px;
    }
}
@media all and (max-width:1100px){
    .navbar__contact{
        left: 640px;
    }
}
@media all and (max-width:1950px){
    .navbar__contact{
        left: 610px;
    }
    .footer{
        left: 610px;
    }
}
@media all and (max-width:1000px){
    .navbar__contact{
        left: 580px;
    }
}
@media all and (max-width:950px){
    .navbar__contact{
        left: 550px;
    }
}
@media all and (max-width:900px){
    .navbar__contact{
        left: 520px;
    }
    .footer{
        left: 500px;
    }
    .navbar__pl{
        height: 650px;
    }
}
@media all and (max-width:850px){
    .navbar__contact{
        left: 500px;
    }
    .navbar__pl{
        height: 690px;
    }
}
@media all and (max-width:800px){
    .header_img{
        height: 140px;
    }
    .header{
        height: 160px;
    }
    .navbar__pl{
        height: 710px;
    }
    .footer{
        left: 450px;
    }
    .navbar__contact{
        left: 470px;
    }
}
@media all and (max-width:750px){
    .navbar__contact{
        left: 427px;
    }
    .footer__2{
    top: 950px;
}
}
@media all and (max-width:700px){
    .navbar__contact{
        left: 400px;
    }
    .footer{
        left: 400px;
    }
}
@media all and (max-width:650px){
    .navbar__contact{
        left: 365px;
    }
    .footer{
        left: 330px;
    }
    .footer__2{
        top: 1000px;
    }
}
@media all and (max-width:650px){
    .navbar__contact{
        left: 350px;
        top: 170px;
    }
    .footer{
        left: 270px;
    }
    .footer__2{
        top: 1100px;
    }
    .navbar__pl{
        height: 900px;
    }
}
@media all and (max-width:600px){
    .navbar__contact{
        left: 330px;
    }
    .footer{
        left: 250px;
    }
    .footer__2{
        top: 1100px;
    }
}
@media all and (max-width:500px){
    .footer{
        top: 490px;
        left: 220px;
    }
    .footer__2{
        top: 1150px;
    }
    .navbar__contact{
        top: 250px;
        left: 240px;
    }
    .footer__img{
        left: 120px;
    }
    .navbar__pl{
        height: 1000px;
    }
}